@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stick+No+Bills:wght@200..800&display=swap");



* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html {
      scroll-behavior: smooth;
}

:root {
      --second-text: "Inter", sans-serif;
      --primary-text: "Poppins", sans-serif;
}

nav {
      display: flex;
      position: fixed;
      width: 100vw;
      height: 100px;
      align-items: center;
      padding: 0px 40px;
      z-index: 1;
}

nav img {
      width: 80px;
      height: 80px;
}

ul {
      display: flex;
      gap: 30px;
      width: 100%;
      justify-content: center;
}

li {
      list-style: none;
}

a:hover {
      cursor: pointer;
      color: #03b403;
      transition: color 500ms linear;

}

li:hover {
      border-bottom: solid 1px #03b403;

}

a {
      text-decoration: none;
      font-family: var(--second-text);
      color: #ffffff;
      padding-block: 16px;
}

.hamburger {
      border: none;
      background: none;
      border-top: 3px solid #fff;
      cursor: pointer;
      display: none;

}

.hamburger::before,
.hamburger::after {
      content: " ";
      display: block;
      width: 30px;
      height: 3px;
      background: #fff;
      margin-top: 5px;
      position: relative;
      transform: 0.3s;
}

.container-home {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      background-image: url("https://cdn.leonardo.ai/users/31394e13-26d4-46f0-a748-442eba317aa3/generations/9470e3ce-a78d-48fd-97c0-bb7d6cd10c69/segments/1:4:1/Flux_Dev_A_sleek_futuristic_computer_system_with_a_glowing_neo_0.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
}

.title-home {
      font-family: "Stick No Bills", sans-serif;
      color: #ffffff;
      font-size: 120px;
}

.text-home {
      font-family: var(--second-text);
      color: #f0f0f0d3;
      font-size: 20px;
      text-align: center;
      width: 0;
      text-transform: uppercase;
      width: 800px;
      text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);

}

.info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      gap: 15px;
      margin-bottom: 60px;
}

.btnDemo {
      padding: 9px 28px;
      border: none;
      background-color: #00e5ff;
      color: #000;
      font-weight: bold;
      font-family: var(--second-text);
      text-transform: uppercase;
      border-radius: 8px;
      box-shadow: 0 0 10px #00e5ff, 0 0 40px #00e5ff;
      cursor: pointer;
}

.btnDemo:hover {
      box-shadow: 0 0 20px #00e5ff, 0 0 60px #00e5ff;
      transform: scale(1.05);
}

.about-container {
      width: 100%;
      height: 100vh;
      background-image: url("/img/background-about.png");
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 90px;
}

.about-info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 20px;
      width: 90%;
      max-width: 1200px;
      height: auto;
      margin: 25px auto;
}

.about-title-container {
      width: 100%;
      max-width: 600px;
      padding: 0 20px;
      text-align: center;
      ;

}

.about-title-container h1 {
      font-family: var(--primary-text);
      font-size: clamp(22px, 5vw, 36px);
      color: #fff;

}

.about-title-container p {
      font-family: var(--second-text);
      font-size: clamp(14px, 2vw, 18px);
      color: #ffffff8a;
      padding-top: 12px;
}

.about-missions {
      display: flex;
      width: 100%;
      max-width: 600px;
      flex-direction: column;
      gap: 15px;
      font-family: var(--second-text);
}

.mission-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background: rgba(255, 255, 255, 0.1);
      padding: 15px;
      border-radius: 15px;
      color: white;
      gap: 10px;
      width: 100%;
}


.mission-item p {
      font-size: clamp(12px, 2vw, 16px);
      flex: 1;
}

.mission-icon {
      width: 35px;
      height: auto;
      flex-shrink: 0;
}

.highlight {
      color: #43A4FF;
      font-weight: bold;
}

.services-container {
      background-color: #020010;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

}

.services-cards {
      display: grid;
      justify-items: center;
      align-items: center;
      gap: 20px;
      grid-template-columns: repeat(2, 1fr) 1.5fr;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
            "a b e"
            "c d e";
      width: 80%;
      max-width: 1000px;
      height: 400px;
}

.card {
      width: 100%;
      height: 180px;
      min-width: 150px;
      background-color: #00e5ff;
      border-radius: 12px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;

}

.card:nth-child(1) {
      grid-area: a;
      background-color: #2C2847;
}

.card:nth-child(2) {
      grid-area: b;
      background-color: #2538AF;
}

.card:nth-child(3) {
      grid-area: c;
      background-color: #165316;
}

.card:nth-child(4) {
      grid-area: d;
      background-color: #1B4B69;
}

.service-banner {
      width: 100%;
      height: 100%;
      background-image: url("/img/service-banner.png");
      background-size: cover;
      background-position: center;
      grid-area: e;
      border-radius: 12px;
}

.card-title {
      font-family: var(--primary-text);
      font-size: 20px;
      text-align: center;
      padding: 25px 6px;
      color: #fff;
}

.seta {
      width: 20px;
}

.more {
      font-family: var(--second-text);
      color: #cfced8;
}

.more-container {
      display: flex;
      gap: 12px;
      padding-bottom: 10px;
}

.more-container button {
      padding: 7px 30px;
      background-color: #00e5ff50;
}

.animated-button {
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 16px 36px;
      border: 4px solid;
      border-color: transparent;
      font-size: 12px;
      background-color: inherit;
      border-radius: 100px;
      font-weight: 600;
      color: rgb(255, 255, 255);
      box-shadow: 0 0 0 2px rgb(0, 65, 77);
      cursor: pointer;
      overflow: hidden;
      transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
      position: absolute;
      width: 24px;
      fill: rgb(175, 192, 180);
      z-index: 9;
      transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
      right: 16px;
}

.animated-button .arr-2 {
      left: -25%;
}

.animated-button .circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      background-color: greenyellow;
      border-radius: 50%;
      opacity: 0;
      transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
      position: relative;
      z-index: 1;
      transform: translateX(-12px);
      transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
      box-shadow: 0 0 0 12px transparent;
      color: #212121;
      border-radius: 12px;
}

.animated-button:hover .arr-1 {
      right: -25%;
}

.animated-button:hover .arr-2 {
      left: 16px;
}

.animated-button:hover .text {
      transform: translateX(12px);
}

.animated-button:hover svg {
      fill: #212121;
}

.animated-button:active {
      scale: 0.95;
      box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
      width: 220px;
      height: 220px;
      opacity: 1;
}


@media (max-width: 884px) {
      .title-home {
            font-size: 80px;
      }

      .text-home {
            width: 550px;
            font-size: 17px;
      }

      .title-apresentation {
            font-size: 22px;

      }

}

@media (max-width: 784px) {
      .hamburger {
            display: block;
            z-index: 1;
      }

      nav {
            justify-content: space-between;
      }

      .nav-list {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            flex-direction: column;
            align-items: center;
            background-color: #033338;
            clip-path: circle(100px at 100% -20%);
            transition: 1s ease-out;
            pointer-events: none;
      }

      .nav.active .nav-list {
            clip-path: circle(1500px at 90% 15%);
            pointer-events: all;
      }

      .nav-list a {
            font-size: 24px;
            opacity: 0;
      }

      .nav-list li:nth-child(1) a {
            transition: 0.5s 0.2s;
      }

      .nav-list li:nth-child(2) a {
            transition: 0.5s 0.4s;

      }

      .nav-list li:nth-child(3) a {
            transition: 0.5s 0.6s;

      }

      .nav-list li:nth-child(4) a {
            transition: 0.5s 0.8s;

      }

      .nav-list li:nth-child(5) a {
            transition: 0.5s 1s;

      }

      .nav.active .nav-list a {
            opacity: 1;
      }

      .nav.active .hamburger {
            position: absolute;
            top: 40px;
            border-top-color: transparent;
            right: 40px;
      }

      .nav.active .hamburger::before {
            transform: rotate(135deg);
      }

      .nav.active .hamburger::after {
            transform: rotate(-135deg);
            top: -8px;
      }

      .about-info {
            flex-direction: column;
            text-align: center;
            height: auto;
      }

      .about-title-container {
            width: 100%;
            padding: 0;
      }

      .about-missions {
            width: 100%;
            max-width: 100%;
      }

      .mission-item {
            flex-direction: row;
            justify-content: center;
            text-align: left;
            gap: 15px;
      }

      .mission-item p {
            text-align: left;
            font-size: 14px;
      }

      .mission-icon {
            width: 30px;
      }

      .services-cards {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
                "a a"
                "b b"
                "c c"
                "d d";
            height: 100%;
            width: 80%; 
            overflow-y: auto; 
      }
      .card{
            flex-direction: column;
            height: 120px;
      }
      .card:nth-child(5) {
            display: none;
      }


}

@media (max-width: 582px) {
      .title-home {
            font-size: 65px;
      }

      .text-home {
            width: 400px;
            font-size: 14px;
      }

      .btnDemo {
            padding: 9px 24px;
            font-size: 10px;
      }
}

@media (max-width: 462px) {
      .title-home {
            font-size: 50px;
      }

      .text-home {
            width: 300px;
            font-size: 11px;
      }

      .btnDemo {
            padding: 9px 20px;
            font-size: 8px;
      }

      nav img {
            width: 60px;
            height: 60px;
      }
}